*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
}
html{
    font-size: 70%;
}
h2{
    font-size: 5rem;
    margin-bottom: 2rem;
}
.main-div{
    height: 100vw;
    height: 160rem;
    display: grid;
    place-items: center;
    padding: 2rem;
    background-color: hsl(206, 92%, 94%);
}
.inner-div{
    width: 55vw;
    background-color: #fff;
    padding: 3rem 8rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
}
.inner-div h2{
    font-size: 3.5rem;
    font-weight: 400;
    margin-top: 1rem 0 4rem 0;
}
.inner-div li{
    font-size: 2rem;
    margin-top: 1.5rem;
    list-style: none;
}
input{
    cursor: pointer;
}
#submit{
    padding: 1rem 3rem;
    outline: none;
    font-size: 2rem;
    font-size: 400;
    display: block;
    margin: auto;
    border: none;
    color: white;
    background-color: #749bff;
    margin-top: 4rem;
}
#submit:hover{
    background-color: #0984e3;
}